/*font-family: 'Montserrat', sans-serif;*/
body{
    font-family:'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}
div, p, input, button, form, span, a, ul, li{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
h1{
    line-height: 1.6em;
}
p{
    line-height: 1.5em;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.header{
    background: #4ebefe;
    background: -moz-linear-gradient(-45deg, #4ebefe 0%, #378fd9 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #4ebefe), color-stop(100%, #378fd9));
    background: -webkit-linear-gradient(-45deg, #4ebefe 0%, #378fd9 100%);
    background: -o-linear-gradient(-45deg, #4ebefe 0%, #378fd9 100%);
    background: -ms-linear-gradient(-45deg, #4ebefe 0%, #378fd9 100%);
    background: linear-gradient(135deg, #4ebefe 0%, #378fd9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebefe', endColorstr='#378fd9', GradientType=1 );
    padding-top: 60px;
    color: #fff;
}
.wrapper{
    display: flex;

}
.offer{
    margin-top: 145px;
    width: 600px;
}
.title{
    font-size: 37px;
}
.title span{
    font-size: 59px;
}
.intro{
    font-size: 16px;
    margin-bottom: 45px;
    width: 410px;
}
.btn{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background: #ffd429;
    color: black;
    width: 222px;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
}
.btn:hover{
    background-color: #e1b400;
}
img.travel{
    width: 570px;
    margin-top: 60px;
    margin-bottom: 80px;
    margin-right: -50px;
}
.section-title{
    font-size: 30px;
    padding-top: 108px;
    text-align: center;
}
.benefits{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 120px;
}
.benefits h3{
    font-size: 19px;
}
.benefits p{
    font-size: 15px;
}
.benefit{
    width: 310px;
    padding-top: 90px;
}
.benefit-time{
    background: url("../img/icon1.png") no-repeat center top;
}
.benefit-travel{
    background: url("../img/icon2.png") no-repeat center top;
}
.benefit-value{
    background: url("../img/icon3.png") no-repeat center top;
}
.email{
    background: #ecf3f8;
    padding-bottom: 100px;
}
.input{
    width: 344px;
    border: 1px solid #bbb;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    height: 48px;
    padding-left: 25px;
    display: block;
    margin-bottom: 15px;
}
.form{
    margin-top:  60px;
    width: 344px;
    margin-left: auto;
    margin-right: auto;

}
.btn-form{
    border: 0;
    cursor: pointer;
    display: block;
    width: 344px;
}